<div ng-app="starter" ng-controller="PopupCtrl">
	<div ng-controller="ImagePickerController">
	<input type="text" placeholder="NickName" ng-model="data.nickname"><br>
	<input type="text" placeholder="Name" ng-model="data.contactname"><br>
	<input type="text" placeholder="Email ID" ng-model="data.emailid"><br>
	<input type="text" placeholder="Number" ng-model="data.number"><br>
	<input type="text" placeholder="Address" ng-model="data.address"><br>
	<button class="button button-block button-dark" ng-click="addContact()">Save</button><br>
    <button class="button button-block button-dark" ng-click="closeLogin()">Close</button>
	</div>
</div>